.constainer {
    padding: 0 2rem;
}

.buttonsContainer {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 5% 35% 0 35%;
}

.buttons {
    background-color: #ffe91f;
    font-size: 64px;
    padding: 25px;
    min-width: 300px;

    &:hover {
        background-color: #998f37;
    }
}