.breadcrumbs {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 5px;
    font-size: 18px;
    border: 1px solid #508AA8;
  }
  
  .breadcrumbs li::after {
    content: "-";
    margin: 0 1rem;
  }
  
  .breadcrumbs li:last-child::after {
    display: none;
  }
  